
<ion-view view-title="whatsPup">
        <ion-content>
         
         <div class="whitelogo">
        <p style="color: #000" ui-sref="home"> <i class="padding-left padding-top fa fa-paw"></i>whatsPup</p>
</div>
    
        <p class= "padding fblogin">A web application for Pet Sitters to provide real-time updates to their clients.</p>
        <p class="padding fblogin">Become a member with Facebook.</p>
          
          <div class="padding">
            <button class="button button-block button-positive" ng-click="app.login()">
              Sign-In
            </button>
          </div>
          <button class="button" on-tap="app.login()">Login to Firebase</button>
        </ion-content>
      </ion-view>